body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  background-color: #222;
  color: #ccc;

  min-width: 320px;
  min-height: 100vh;
}


#play-again {
  visibility: hidden;
}


#play-again.show {
  visibility: visible;
}